*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    transition: 0.8s;
}

.main{
    background-color: #ffffff;
    height: 100vh;
}
.esquerda{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.divtitle{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: bold;
}

.novoUsuario{
    background-color: white !important;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    height: 530px;
    box-shadow: 6px 6px 20px #949191;
    margin-left: 25px;
}

.usuariosCadastrados{
    background-color: white !important;
    border-radius: 10px;
    flex-direction: row;
    min-height: 520px;
    box-shadow: 6px 6px 20px #949191;
    margin-left: 20px;
}

.titleBloco{
    padding: 10px;
    font-size: 20px;
}

.rowEsquerdaOne{
    width: 100%;
}

.rowEsquerdaTwo{
    width: 100%;
    padding-left: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
}

.rowEsquerdaThree{
    margin-top: 10px;
}

.rowEsquerdaFour{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.rowDireitaOne{
    height: 50px;
}

.divDireitaTwo{
    width: 100%;
    margin-top: 10px;
}