*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    transition: 0.8s;
}

.main{
    background-color: #ffffff;
    height: 100vh;
}
.barra{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
.divtitulo{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CadTurma{
    font-size: 28px;
    font-weight: bold;
}
.listaAlunos{
    background-color: white;
    width: 95%;
    border-radius: 15px;
    box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px
}
.addTurmas{
    display: flex;
    justify-content: center;
}

.divtudo{
    width: 90%;
    height: 80%;
}
.divcadastro{
    height: 100%;
}
.alunos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.alunos button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
.alunos p{
    margin: 0;
}
.alunosLista{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    gap: 20px;
    overflow: auto;
    height: 360px;
    align-content: flex-start;

}
.alunosLista div{
    background-color: white;
    display: flex;
    align-items: center;
    padding-right: 1px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.3);
}
.alunosLista div img{
    scale: 0.7;
}
.textonome{
    height: fit-content;
}
.divinputs input{
    border: 10px solid #ffffff;
    outline: none;
    background-color: #E7E7E7;
    transition: 0.5s !important;
    border-radius: 20px;
    padding: 8px;
}
.checks{
    display: flex;
    gap:20px;
}
.checks div{
    display: flex;
    gap: 10px;
}
.textarea{
    background-color: #E7E7E7;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 5px;
    height: 40%;
    width: 95%;
    resize: none;
    padding: 10px;
}

.botaoSalvar{
    border-radius: 15px;
    padding: 5px;
    border: none;
    width: 10vw;
    background: #ffffff;
    box-shadow:  22px 22px 100px #898989,
    -22px -22px 100px #ffffff;
    margin-bottom: 15px;
    border: solid 0.5px #620303;
    color: #620303;
}

.botaoSalvar:hover{
    background: #620303;
    color: white;
    border: solid 0.5px #ffffff;
}

.juncaoCB{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0px;
    margin: 0px;
}
.alunosCard{
    display: flex;
    font-size: 15px;
    background: #ffffff;
    box-shadow:  8px 8px 16px #c4c4c4,
    -8px -8px 16px #ffffff;
}

