*{
    padding: 0 !important;
    margin: 0 !important;
    font-family: "Quicksand", sans-serif;
    transition: 0.8s;
}

.main{
    background-color: #ffffff;
    height: 100vh;
}
.barra{
    height: 100vh;
}