.barra{
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.centro{
    margin-top: 20px;
}

.alinharconteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}

.conteudo{
    width: 98%;
    height: 81vh;
    background-color: white;
    border-radius: 15px;
    box-shadow:  11px 11px 22px #9c9c9c,
    -11px -11px 22px #ffffff;
    font-size: 20px;
}

.title{
    font-size: 30px;
    margin-bottom: 10px;
}

.campos{
    display: grid;
    gap: 1vw;
    margin-top: 2vh !important;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
}

.titulasso{
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
}