
.fundo{
    width: 100%;
    height: 50vh;
    background-image: url("/public/fundoErro.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;


}

.retornar{
    margin-top: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.retornar button{
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #800000;
    color: white;
}

.retornar button:hover{
    background-color: #c10000;
    transition: none;
}
