.divbtncireita{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btndireita{
    height: 50px;
    width: 250px;
    border: solid 2px white;
    border-radius: 8px;
    padding: 5px;
    color: white;
    background-color: #800000;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

.btndireita:hover{
    transform: scale(1.05);
    background-color: #982323;
}

.redirect{
    text-decoration: none;
    color: white;
}

