.divTudo{
    margin-top: 20px;
}

.card{
    height: auto;
    width: 100%;
    background-color: #E6E6E6;
    border: none;
    border-radius: 15px;
}

.cardCima{
    background-color: #6B6B6B;
    border-radius: 15px 15px 0px 0px;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.LinhaOne{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icone{
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.icone:hover{
    transform: scale(1.05);
}

.text{
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
}
