.divtotal{
    width: 85%;
    height: 15%;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 25px 0px rgba(0, 0, 0, 0.4);
}
.nome{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 25px;
}
.imguser{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}